<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacroTrackr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CC0F94AE243C7CC9F7A17B422587777F81A83A0B</string>
				<key>dateExpires</key>
				<string>10/13/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CC0F94AE243C7CC9F7A17B422587777F81A83A0B</string>
						<key>dateExpires</key>
						<string>10/13/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7H5489C69N.NA.MacroTrackr.MacroTrackrWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7H5489C69N</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.macrotrackr.shared</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>MacroTrackrWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>1a020319-1a95-4cd9-b03c-444635ebec87</string>
						<key>dateExpires</key>
						<string>10/13/26</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: NA.MacroTrackr.MacroTrackrWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H5489C69N</string>
						<key>name</key>
						<string>ivan martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7H5489C69N.NA.MacroTrackr</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7H5489C69N</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.macrotrackr.shared</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MacroTrackr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d3d03717-f368-401c-a97d-f4ddbd969a35</string>
				<key>dateExpires</key>
				<string>10/13/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: NA.MacroTrackr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7H5489C69N</string>
				<key>name</key>
				<string>ivan martinez</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
